<div>
    <div>
        <button>Заказ выписки из трудовой книжки</button>
        <button>Заказ справки о зарплате</button>
        <button>Заказ списка публикаций для сотрудников</button>
    </div>
    <div>
        <button></button>
        <button></button>
    </div>
</div>